.matches {
  &__container {
    margin-top: 30px;
  }
  &__collapse-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #2c3650 !important;
    border: none;
  }
  &__team-logo {
    width: 10%;
  }
  &__team-name {
    font-size: 12px;
    width: 35%;
  }
  &__preview {
    display: flex;
    justify-content: space-between;
  }
  &__button-wrapper {
    display: flex;
    justify-content: center;
  }
  &__card {
    background-color: rgb(227, 235, 252);
  }
}
